
.BS_Widgets_Carousel {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    .J_TWidget  {
        margin-right: 15px;
    }
    .BS_Widgets_Carousel_style_1 {
        width: 500px;
        height: 98px;
        overflow: hidden;
        position: relative;
        .ks-switchable-content {
            & >  div {
                color: red;
                display: inline-block;
                width: 100px;
                height: 80px;
                &:first-child {
                    background: #870097;
                }
                &:nth-child(2) {
                    background: #329700;
                }
                &:nth-child(3) {
                    background: #c52bad;
                }
                &:nth-child(4) {
                    background: #c5bc2b;
                }
                &:nth-child(5) {
                    background: #c5572b;
                }
                &:nth-child(6) {
                    background: #255c11;
                }
                &:nth-child(7) {
                    background: #0d2aaa;
                }
                &:nth-child(8) {
                    background: #0daa99;
                }
                &:nth-child(9) {
                    background: #adc982;
                }

            }
        }
        .ks-switchable-nav {
            // margin-top: 200px;
            position: absolute;
            bottom: 10px;
            left: 45%;
            & > li {
                display: inline-block;
                background:#000;
                width: 20px;
                height: 20px;
                margin-right: 5px;
                &.ks-active {
                    background: #fff;
                }
            }
        }
        .big-piclist {
            overflow: hidden;
            width: 500px;
            img {
                // width: 500px;
                // height: 200px;
            }
        }
        .prev {
            background:url(../images/left.png) no-repeat rgba(0,0,0,0.5);
            width: 30px;
            height: 30px;
            display: inline-block;
            background-size: contain;
            position: absolute;
            z-index: 10;
            top: 50%;
            left: 10px;
            // background: rgba(0,0,0,0.5);
        }
        .next {
            background:url(../images/right.png) no-repeat rgba(0,0,0,0.5);
            width: 30px;
            height: 30px;
            display: inline-block;
            background-size: contain;
            position: absolute;
            z-index: 10;
            top: 50%;
            right: 10px;
            // background: rgba(0,0,0,0.5);
        }
        .scroller-body {
            position: absolute;
            width: 500px;
            height: 80px;
            top: 0;
            border:1px solid #ccc;
            box-sizing: border-box;
        }
    }
    //
    .BS_Widgets_carousel_style_3 {
        position: relative;
        width: 500px;
        overflow: hidden;
        height: 218px;
        .prev {
            background: url(../images/left.png) rgba(0,0,0,0.8);
            background-size: contain;
            display: block;
            left: 0;
            position: absolute;
            width: 30px;
            height: 30px;
            z-index: 9999;
        }
        .next {
            background: url(../images/right.png) rgba(0,0,0,0.8);
            background-size: contain;
            display: block;
            height: 30px;
            position: absolute;
            right: 0;
            width: 30px;
            z-index: 9999;
        }
        .ks-switchable-nav {
            display: none;
        }
    }
}
